.menu-wrapper /deep/.ivu-menu-dark
  background #1d1e23
.menu-wrapper /deep/.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active
  background #2d8cf0!important
.menu-wrapper /deep/.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu)
  color white
.menu-wrapper /deep/.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened
  background none
.menu-wrapper /deep/.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title
  background none
.menu-wrapper /deep/.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item
  &:hover
    background black
.menu-wrapper /deep/.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active
  &:not(.ivu-menu-submenu)
    background black